* {
  margin: 0px;
  padding: 0px;
}


body{
  background-color: black;

}
      .btn-bd-primary {
        background-color: gray;
        color: white;
        font-weight: 600;
      }

.btn btn-primary {
 background-color: gray;
}
